{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block head %}
<link href="css/signin.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <body class="text-center">
        <form class="form-signin" method="POST" action="/">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="username" class="sr-only">Name</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Name" required autofocus/>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <!--<input type="submit" name="Submit" />-->
        </form>
    </body>
{% endblock %}