{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block head %}
    <link href="css/userinfo.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <body>
        <div class="container-fluid">
            <div class="row">
            <main role="main" class="col-md-12 ml-sm-auto col-lg-12">
                <h2>User: {{ user.name }}</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Telephone</th>
                            <th>Api Key</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.address }}</td>
                            <td>{{ user.tel }}</td>
                            <td>{{ user.api }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <canvas class="my-4 w-100" id="myChart" width="900" height="50"></canvas>

                <h2>Orders</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Status</th>
                            <th>Carrier</th>
                            <th>Departure</th>
                            <th>Destination</th>
                            <th>Weight</th>
                            <th>Price</th>
                            <th>Capacity</th>
                            <th>Order Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for o in orders.orders %}
                        <tr>
                            <td>{{ o.order_id }}</td>
                            <td>{{ o.order_status }}</td>
                            {% if o.carrier_service is empty %}
                                <td>Not Confirm</td>
                            {% else %}
                                <td>{{ o.carrier_service.carrier.name }}</td>
                            {% endif %}
                            <td>{{ o.departure }}</td>
                            <td>{{ o.destination }}</td>
                            <td>{{ o.weight }}</td>
                            <td>{{ o.price }}</td>
                            <td>{{ o.capacity }}</td>
                            {% if o.carrier_service is empty %}
                                <td>Not Confirm</td>
                            {% else %}
                                <td>{{ o.carrier_service.start_time }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
            </div>
        </div>
    </body>
{% endblock %}